
body {

	font-family: 'Open Sans', sans-serif;
	background-color: #F6F6F6;
}



.header-container {
	
	max-width: 1500px;
	padding: 35px;


	margin: auto;

}

.header-title {

	margin-bottom: 20px;
	font-size: 200px;
	font-weight: 600;
	color: #1C1C1C;
	
}

.header-description {

	font-size: 50px;
	font-weight: 400;
	color: #1C1C1C;

}



.main-container {

	max-width: 1500px;
	margin: auto;
	padding: 35px;	
	
}

.main-titleOfTitle {

	text-align: center;
	margin-top: 120px;
	margin-bottom: 50px;
	font-size: 25px;
	font-weight: 600;
	color: #999999;
	
}

.main-title {

	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	color: #1C1C1C;
	
}

.main-bigContentContainer {

	max-width: 1200px;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	height: 500px;	
	border-radius: 35px;

}

.main-contentContainerFilter {

	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000000, #0000003C);

}

.main-contentContainerDescription {

	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	word-break: break;	
	font-size: 18px;
	font-weight: 600;
	color: #F6F6F6;

}



.main-titleDescription {

	text-align: center;
	margin-bottom: 100px;
	word-break: break;
	font-size: 20px;
	font-weight: 600;
	color: #1C1C1C;
	
}

.main-baseMiniContentContainer {
	
	display: flex;
	margin: auto;
	margin-bottom: 20px;
	max-width: 1200px;
	justify-content: space-between;		

}

.main-miniContentContainer {

	overflow: hidden;
	width: 500px;
	height: 500px;	
	border-radius: 35px;	

}



.main-bigTitle {

	margin-top: 230px;
	margin-bottom: 100px;
	font-size: 50px;
	font-weight: 400;
	color: #1C1C1C;

}



.footer-container {

	max-width: 1500px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;

	justify-content: space-between;	
	align-items: center;
	//background-color: #999999;
	
}


ul {

	display:flex;
	justify-content: center;
	margin-bottom: 5px;
	
}

li {

	margin-right: 15px;

}

.footer-languageLink {

	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: grey;
}


.footer-contentLink {

	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #246CD5;

}

a:hover {

	text-decoration: underline;

}


.footer-copyright {

	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #1C1C1C;

}














@media only screen and (max-width: 600px) {

.header-container {
	
	padding: 15px;

}


.header-title {

	font-size: 100px;
	
}

.header-description {

	font-size: 30px;

}


.main-container {

	padding: 15px;
	
}

.main-titleOfTitle {

	margin-top: 50px;
	margin-bottom: 15px;
	font-size: 16px;
	
}

.main-title {

	margin-bottom: 15px;
	font-size: 18px;
	
}

.main-bigContentContainer {

	overflow: hidden;
	height: 200px;	
	border-radius: 20px;

}

.main-contentContainerDescription {

	left: 10px;
	right: 10px;
	font-size: 14px;

}

.main-titleDescription {

	margin-bottom: 100px;
	font-size: 16px;
	
}

.main-baseMiniContentContainer {
	
	display: block;
	
}

.main-miniContentContainer {

	margin-bottom: 30px;
	overflow: hidden;
	max-width: 100%;
	height: 200px;	
	border-radius: 20px;	

}

.main-bigTitle {

	margin-top: 70px;
	margin-bottom: 5px;
	font-size: 30px;

}

ul {

	text-align: center;
	display: block;
	justify-content: center;
	
}

li {

	margin-right: 10px;

}

.footer-container {

	padding-top: 15px;
	padding-bottom: 15px;
	
}

.footer-languageLink {

	font-size: 10px;

}


.footer-contentLink {

	font-size: 12px;

}

.footer-copyright {

	font-size: 12px;

}


}













